.nav-bottom
  position: fixed
  display: grid
  grid-template-columns: repeat(6, 1fr)
  bottom: 0
  width: 100%
  background: $background-color
  padding: 10px

.nav-bottom-button
  border: none
  outline: none
  cursor: pointer
  background: transparent
  color: $font-color
  svg
    fill: white
  i
    color: $font-color
    font-size: 20px
    cursor: pointer 