@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  color: #ffffff;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.nav-bar {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 10px 20px;
  border-bottom: 1px solid #363636;
  width: 100%;
  top: 0;
  z-index: 1000;
  background-color: #000000;
}
.nav-bar button {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
}
.nav-bar h1 {
  flex-grow: 1;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
}

/* responsive */
/* Laptops pequeñas  */
@media only screen and (min-width: 768px) {
  .nav-bar {
    display: none;
  }
}
.header-posts {
  display: flex;
  flex-direction: column;
}

.profile-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
  gap: 10px;
  border-bottom: 1px solid #363636;
}

.photo-name {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.photo-name img {
  border-radius: 50%;
  width: 20%;
  height: auto;
  max-width: 100px;
  margin: 10px 20px 10px 10px;
}

.container-name-buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.name-icon-3points {
  display: flex;
  align-items: center;
  gap: 5px;
}
.name-icon-3points p {
  font-size: 20px;
  font-weight: 500;
  color: #F5EDDE;
  overflow: hidden;
  text-overflow: ellipsis;
}

.buttons-header {
  display: flex;
  width: 100%;
  gap: 5px;
  margin-right: 10px;
}
.buttons-header button {
  cursor: pointer;
  border-radius: 8px;
  border: none;
  text-align: center;
  color: white;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 20px;
  width: 120px;
}

.follow-button {
  background-color: #2581f8;
}
.follow-button:hover {
  background-color: #135fc2;
}

.message-button {
  background-color: #363636;
}
.message-button:hover {
  background-color: #2e2e2e;
}

.container-description-profile {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.description {
  font-size: 14px;
  font-weight: 500;
}

.link-yt {
  display: flex;
  align-items: center;
  gap: 5px;
}
.link-yt p {
  cursor: pointer;
}
.link-yt p:hover {
  text-decoration: underline;
}

.known-followers {
  cursor: pointer;
  margin-bottom: 10px;
}
.known-followers small {
  color: #999;
  font-size: 12px;
}
.known-followers strong {
  font-weight: bold;
  color: #F5EDDE;
  font-size: 12px;
}

.post-followers-following {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  width: 100%;
  border-bottom: 1px solid #363636;
}

.pff {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 5px;
  cursor: pointer;
}
.pff p {
  font-size: 14px;
}

.numbers {
  font-weight: bold;
}

.label {
  color: #999;
}

.icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  text-align: center;
}

.icon {
  padding: 10px;
  cursor: pointer;
}

.post-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2px;
  padding: 20px;
  width: 100%;
}
.post-grid .post {
  aspect-ratio: 1/1;
  overflow: hidden;
  position: relative;
}
.post-grid .post img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.post-grid .post svg {
  position: absolute;
  top: 10px;
  right: 10px;
}

.header-responsive {
  display: none;
}

/*responsive   */
@media (min-width: 768px) {
  .post-grid {
    width: 100%;
  }
  .post-followers-following {
    display: none;
  }
  .profile-header {
    display: none;
  }
  .header-responsive {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 20px 0;
    border-bottom: 1px solid #363636;
  }
  .photo-responsive {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .photo-responsive img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    padding: 10px;
    margin-right: 20px;
  }
  .name-description-responsive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 100%;
  }
  .container-icon {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
  }
  .container-icon p {
    font-size: 20px;
    font-weight: 500;
    color: #F5EDDE;
    text-overflow: ellipsis;
  }
  .buttons-options-responsive {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .buttons-options-responsive button {
    cursor: pointer;
    border-radius: 8px;
    border: none;
    text-align: center;
    color: white;
    font-size: 14px;
    font-weight: 600;
    padding: 8px 10px;
    width: 80px;
  }
  .post-followers-following-responsive {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .pff-responsive {
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
  }
}
.nav-bottom {
  position: fixed;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  bottom: 0;
  width: 100%;
  background: #000000;
  padding: 10px;
}

.nav-bottom-button {
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  color: #ffffff;
  transition: background-color 0.3s;
  border-radius: 8px;
}
.nav-bottom-button:hover {
  background-color: #363636;
}
.nav-bottom-button svg {
  fill: white;
}
.nav-bottom-button i {
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
}

/* responsive */
@media screen and (min-width: 768px) {
  .nav-bottom {
    display: none;
  }
}
.container-nav-left {
  display: none;
  height: 100%;
}

.nav-responsive-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  padding: 10px;
  border-right: 1px solid #363636;
  background-color: #000000;
  z-index: 1000;
}
.nav-responsive-left .nav-start, .nav-responsive-left .nav-center, .nav-responsive-left .nav-end {
  display: flex;
  flex-direction: column;
}
.nav-responsive-left .nav-start {
  margin-top: 25px;
}
.nav-responsive-left button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  margin-bottom: 4px;
  border: none;
  background: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 8px;
}
.nav-responsive-left button:hover {
  background-color: #363636;
}
.nav-responsive-left button svg, .nav-responsive-left button i {
  color: #ffffff;
  fill: #ffffff;
  text-align: center;
  font-size: 24px;
}
.nav-responsive-left .ig-button {
  margin-bottom: 24px;
}

/* responsive */
@media only screen and (min-width: 768px) {
  .main-container {
    display: grid;
    grid-template-columns: 8% auto;
  }
  .container-nav-left {
    display: grid;
    grid-template-rows: 10% auto 10%;
  }
}/*# sourceMappingURL=styles.css.map */